body {
    margin: 0;
    padding: 0;
}

div.charts-container {
    position: relative;
    height: auto;
    width: 100%;
}

canvas.live-chart {
    height: 300px !important; 
}

.profile-icon {
    height: 75px;
    width: 75px;
}