body {
    background-color: #1C2534
}

hr {
    background-color: rgba(255, 255, 255, 0.3);
}

.sidebar {
    background-color: #283447;
    height: 100vh;
    color: #EEEEEE;
}

ul.available-videos {
    list-style: none;
    padding-left: 0;
}

ul.available-videos li {
    color: rgba(255, 255, 255, 0.5);
    font-size: 10pt;
}

ul.available-videos li:hover {
    cursor: pointer;
    color: white;
}

.charts-container {
    background-color: #283447;
}

.app-logo {
    height: 170px;
    width: 306px;
}

.app-name {
    color: white;
    font-weight: 500;
}

.small-font {
    font-size: 9pt;
}

.file-upload:hover {
    cursor: pointer;
}

.orange-btn {
    background-color: #b5682a;
    border-color: #b5682a;
    color: #fff;
}

.orange-btn:hover {
    background-color: #a35e26;
    border-color: #a35e26;
    color: #fff;
}

/* Neutral slider*/
.custom-slider-neutral {
    -webkit-appearance: none;
    width: 400px;
    height: 15px;
    background: rgb(235, 235, 235);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 12px;
    box-shadow: 0px 1px 5px 1px;
    overflow: hidden;
}

.custom-slider-neutral:hover, .custom-slider-neutral:active {
    opacity: 1;
}

.custom-slider-neutral::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -407px 0 0 400px rgb(201, 203, 207);
}

.custom-slider-neutral::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -407px 0 0 400px rgb(201, 203, 207);
}

/* Happy slider */
.custom-slider-happy {
    -webkit-appearance: none;
    width: 400px;
    height: 15px;
    background: rgb(235, 235, 235);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 12px;
    box-shadow: 0px 1px 5px 1px;
    overflow: hidden;
}

.custom-slider-happy:hover, .custom-slider-happy:active {
    opacity: 1;
}

.custom-slider-happy::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -407px 0 0 400px rgb(75, 192, 192);
}

.custom-slider-happy::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -407px 0 0 400px rgb(75, 192, 192);
}

/* Sad slider */
.custom-slider-sad {
    -webkit-appearance: none;
    width: 400px;
    height: 15px;
    background: rgb(235, 235, 235);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 12px;
    box-shadow: 0px 1px 5px 1px;
    overflow: hidden;
}

.custom-slider-sad:hover, .custom-slider-sad:active {
    opacity: 1;
}

.custom-slider-sad::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -407px 0 0 400px rgb(255, 159, 64);
}

.custom-slider-sad::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -407px 0 0 400px rgb(255, 159, 64);
}

/* Angry slider */
.custom-slider-angry {
    -webkit-appearance: none;
    width: 400px;
    height: 15px;
    background: rgb(235, 235, 235);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 12px;
    box-shadow: 0px 1px 5px 1px;
    overflow: hidden;
}

.custom-slider-angry:hover, .custom-slider-angry:active {
    opacity: 1;
}

.custom-slider-angry::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -407px 0 0 400px rgb(255, 99, 132);
}

.custom-slider-angry::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -407px 0 0 400px rgb(255, 99, 132);
}

/* Fearful slider */
.custom-slider-fearful {
    -webkit-appearance: none;
    width: 400px;
    height: 15px;
    background: rgb(235, 235, 235);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 12px;
    box-shadow: 0px 1px 5px 1px;
    overflow: hidden;
}

.custom-slider-fearful:hover, .custom-slider-fearful:active {
    opacity: 1;
}

.custom-slider-fearful::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -407px 0 0 400px rgb(153, 102, 255);
}

.custom-slider-fearful::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -407px 0 0 400px rgb(153, 102, 255);
}

/* Disgusted slider */
.custom-slider-disgusted {
    -webkit-appearance: none;
    width: 400px;
    height: 15px;
    background: rgb(235, 235, 235);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 12px;
    box-shadow: 0px 1px 5px 1px;
    overflow: hidden;
}

.custom-slider-disgusted:hover, .custom-slider-disgusted:active {
    opacity: 1;
}

.custom-slider-disgusted::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -407px 0 0 400px rgb(255, 205, 86);
}

.custom-slider-disgusted::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -407px 0 0 400px rgb(255, 205, 86);
}

/* Surprised slider */
.custom-slider-surprised {
    -webkit-appearance: none;
    width: 400px;
    height: 15px;
    background: rgb(235, 235, 235);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 12px;
    box-shadow: 0px 1px 5px 1px;
    overflow: hidden;
}

.custom-slider-surprised:hover, .custom-slider-surprised:active {
    opacity: 1;
}

.custom-slider-surprised::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -407px 0 0 400px rgb(54, 162, 235);
}

.custom-slider-surprised::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -407px 0 0 400px rgb(54, 162, 235);
}

.thead-orange {
    background-color: rgb(255, 159, 64);
}